includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - database
    excludePaths:
        - vendor
        - node_modules
        - storage
        - bootstrap/cache
        - public
        - tests
        - database/factories
        - database/seeders

    level: 5
