includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - bootstrap
        - routes
        - database
    excludePaths:
        - vendor
        - node_modules
        - storage
        - bootstrap/cache
        - public
        - tests

    level: 5
    
    treatPhpDocTypesAsCertain: false
